@{
    ViewBag.Title = "ChangeName";
}

@using (Html.BeginForm()) {
    <p>
        <input id="@Model.Id" type="hidden" />
        Name:
        @Html.TextBox("Name")
        <br /><br />
        <button name="submit">Submit</button>
    </p>
    }
