@using CQRSGui.Controllers
@model List<ReadModel.InventoryItemListDto>
@{
    ViewBag.Title = "Home Page";
}

<h2>All items:</h2>

<ol class="round">
@foreach (var inventoryItemListDto in Model) {
    <li>
            @Html.ActionLink(linkText: "Name: " + inventoryItemListDto.Name,
                         actionName: "Details",
                         routeValues: new {Id = inventoryItemListDto.Id})
    </li>
    }
    </ol>
@Html.ActionLink("Add","Add")

