@{
    ViewBag.Title = "Remove";
}

@using (Html.BeginForm()){
    <p>
        <input id="@Model.Id" type="hidden" />
        Number: @Html.TextBox("Number")
        <br /><br />
    <button name="submit">Submit</button>
    </p>
    }
